@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgb(200,200,200)
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(82, 41, 82);
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  transition: all 0.3s ease-out;

  div.title{
    flex: 1;
    display: flex;
    align-items: center;
    h2{
      font-size: 26px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      color: white;
    }
  }
  .menu{
    display: flex;
    flex: 1;
    ul{
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      li {
        list-style-type: none;
        color: white;
        display: inline;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        a {
          text-decoration: none;
          color: white;
          transition: all 0.3s ease;
          &:hover {
            color: #DDD;
          }
        }
      }
    }
  }
  div.menu_icon {
    display: none;
  }

  @media screen and (max-width: 768px) {
    &.showMenu{
      height: 50vh;

      .menu {
        top: 0px;

        .home {
          color: rgba(255,255,255,1);
        }
        .sobre {
          color: rgba(255,255,255,1);
        }
        .blog {
          color: rgba(255,255,255,1);
        }
      }
    }
    
    .menu{
      position: absolute;
      margin: 0px 0px 0px 0px;
      right: 0px;
      top: 65px;
      background-color: rgb(185, 99, 185);
      height: 50vh;
      width: 100%;
      transition: all 0.3s ease-out;
      ul {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .home{
          color: rgba(255,255,255,0);
          transition: all 0.5s ease-out;
        }
        .sobre{
          color: rgba(255,255,255,0);
          transition: all 0.75s ease-out;
        }
        .blog{
          color: rgba(255,255,255,0);
          transition: all 1s ease-out;
        }
      }
    }
    div.menu_icon {
      position: relative;
      display: flex;
      flex: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      div {
        &.top{
          border-top: 4px solid white;
          border-bottom: 2.7px solid white;
        }
        &.bottom {
          border-top: 2.7px solid white;
          border-bottom: 4px solid white;
        }
        height: 0.5rem;
        width: 40px;
        cursor: pointer;
      }

    }
  }
}